doctype html
html
    head
        title Tareas
    body
        form(method="POST" action="/sessions")
            input(type="email" name="email" placeholder="Correo Electronico")
            input(type="password" name="password" placeholder="Contraseña")
            input(type="submit", value="Iniciar sesión")
